*{
  box-sizing: border-box;
  border: 1px solid blue;
}
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
#carousel{
  margin: 0 auto;
  width: 400px;
  height: 300px;
  overflow: hidden;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 2000px;
}
li{
  width: 400px;
  height: 300px;
  list-style: none;
  float: left;

}
img{
  max-width: 100%;
  object-fit: cover;
  height: 300px;
}
